<mat-card>
    <mat-card-title>Alterar Produto</mat-card-title>

    <form >
        <mat-form-field>
            <input matInput placeholder="Nome" [(ngModel)] = "product.name" name="name">
        </mat-form-field>
        <mat-form-field>
            <input matInput placeholder="Preço (R$)" [(ngModel)]="product.price" name="price">
        </mat-form-field>
        <mat-form-field>
            <input matInput placeholder="Imagem" [(ngModel)]="product.image" name="image">
        </mat-form-field>
        <mat-form-field>
            <mat-label>Categoria</mat-label>
            <mat-select matNativeControl name="category" [(ngModel)]="product.category"  required>
                <mat-option value="Acessórios">Acessórios</mat-option>
                <mat-option value="Eletrodomésticos">Eletrodomésticos</mat-option>
                <mat-option value="Celulares e Smartphones">Celulares e Smartphones</mat-option>
                <mat-option value="Computadores & Notebooks">Computadores & Notebooks</mat-option>
            </mat-select>
        </mat-form-field>
    </form>

    <button mat-raised-button (click)="updateProduct()" color="primary">
        Salvar alterações
    </button>
    
    
    <button mat-raised-button (click)="cancel()">
        Cancelar
    </button>
</mat-card>

